

.book-card{
  display: flex;
  width: 400px;
  height: 500px;
}


.subtitles{
  font-weight: 500 ;
  font-size: large;
  padding-right: 30px
}

.card-content{
  display: flex;
  flex-direction: row;
  padding: 0;
}
